<app-header></app-header>
<router-outlet></router-outlet>
<div class="container" style="display: flex;width:100%;margin-top: 30px;">

  <div class="categorie" style="width:20%;">
    <div style="width:100%;height:400px;background-color: rgb(252, 252, 252);box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;padding:20px 50px;border:1px solid #e38593;border-radius: 5%;">
      <h6>Les Categories</h6>
        <div>
          <p>Lorem</p>
          <p>Lorem</p>
          <p>Lorem</p>
          <p>Lorem</p>
          <p>Lorem</p>
        </div>
    </div>
    <div class="mot_clé" style="margin-top: 20px;">
      <h6 style="color:#fc7186">Mot Clé</h6>

    </div>
  </div>
  <div class="tableau_exam" style="width:50%;">
    <div style="width:100%;margin:70px 0 10px 100px">

    <h3>TABLEAU D'EXAMEN</h3>
    <div class="" style="height:500px;background-color: rgb(255, 255, 255);box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;border-radius: 5%;padding:20px">
                <div class="up_table">

                  <div class="form-outline">
                    <p>Afficher</p>
                    <input type="text" class=form-control>
                  </div>

                  <div class="form-outline">
                    <p>Recherche</p>
                    <input type="text" class=form-control>
                  </div>

                </div>
        <app-tabless></app-tabless>


    </div>
    <div class="down_table_one">
      <p>Parabat non squalorem sub susurro intendebantur tormenta ad et alii
        quemquam sceleste plures consumpsere Constantio ad principis facile haec
         paene paene enim sceleste sceleste maestitiam haec catenis adventu
        tenus carnifex ita in is ubi quemquam sceleste coopertos absolutum paene.</p>
    </div>

    <div class="down_table_two">
      <p>Parabat non squalorem sub susurro intendebantur tormenta ad et alii
        quemquam sceleste plures consumpsere Constantio ad principis facile haec
         paene paene enim sceleste sceleste maestitiam haec catenis adventu
        tenus carnifex ita in is ubi quemquam sceleste coopertos absolutum paene.</p>
        <div class="social_network">
          <div ><mat-icon color="accent" class='material-icons-outlined'>comment</mat-icon><span >Commantaires</span></div>
          <div><mat-icon color="accent" class='material-icons-outlined'>favorite</mat-icon><span>Vue</span></div>
          <div><mat-icon color="accent" class='material-icons-outlined'>share</mat-icon><span>Partager</span></div>
        </div>
    </div>

  </div>
</div>


</div>
<app-footer></app-footer>
