<mat-toolbar class="headerr" color="primary">
  <div><span>My Application</span></div>
  <div class="spacer">

  <a mat-button>Acceuil</a>
  <a mat-button>Pages</a>
  <a mat-button>blog</a>
  <a mat-button color="accent">Contact</a>
  <a  mat-raised-button color="accent">Connexion</a>
</div>

</mat-toolbar>
<div class="container sou_menu">
  <div class="sous_menu_content">
  <div style="border-right: 1px solid #989898;display: flex;">
    <p><mat-icon color="accent" class='material-icons-outlined'>email</mat-icon>Envoyer email</p>
  </div>
  <div style="border-right: 1px solid #989898;">
    <p><mat-icon color="accent" class='material-icons-outlined'>search</mat-icon>Rechercher</p>
  </div>
  <div>
    <p><mat-icon color="accent" class='material-icons-outlined'>menu</mat-icon>Categorie</p>
  </div>
</div>
</div>
